.card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); /* 미세한 그림자 */
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
