/* Tabs.css */
.tabs {
  display: flex;
  justify-content: center;
}

.tab-button {
  padding: 12px 20px;
  flex: 1;
  cursor: pointer;
  border: none;
  border-bottom: 3px solid;
  border-bottom-color: var(--text-color);
  background-color: unset;
  color: var(--text-color);
  transition: background-color var(--transition-speed);
}


.tab-button.active {
  font-weight: bold;
  border-bottom: 3px solid;
  border-bottom-color: var(--main-color);
}

/* 반응형 디자인 */

@media (min-width: 1400px) {
  .tab-button {
    padding: 10px 15px;
    font-size: 1.3rem;
  }
}

@media (max-width: 1400px) {
  .tab-button {
    padding: 14px 18px;
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .tab-button {
    padding: 10px 15px;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .tab-button {
    padding: 8px 12px;
    font-size: 0.85rem;
  }
}
