/* variables.css */
:root {
  --primary-color: rgb(79, 169, 211);
  --primary-color-hover: #357abd;
  /* --secondary-color: #119797;
  --secondary-color-hover: #506f92; */
  --background-color-light: #fafafa;
  --border-color: #e0e0e0;
  --error-color: #d32f2f;
  --error-color-hover: #a72222;
  /* --text-color: #4a4a4a;
  --button-color: #F25E7A;
  --button-color-hover: #f87890;
  --button-secondary-color: #F8A6B3;
  --button-secondary-color-hover: #F48B9E; */
  --pagination-background: #e3f2fd;

  --recruiting-color: #a8e6cf;
  --recruiting-text-color: #388e3c;
  --recruiting-border-color: rgb(10, 238, 105);
  --recruiting-hover-color: #81c784; /* Lighter green for recruiting */
  --recruiting-text-hover: #2e7d32; /* Darker green for recruiting text */

  --completed-color: #f8bbd0;
  --completed-text-color: #d32f2f;
  --completed-border-color: rgb(246, 17, 4);
  --completed-hover-color: #f48fb1; /* Lighter pink for completed */
  --completed-text-hover: #c62828; /* Darker red for completed text */

  /*  */
  --main-color: #F25E7A;
  --main-color-hover: #f87890;
  --secondary-color: #F8A6B3;
  --secondary-color-hover: #F48B9E;
  --text-color: #4a4a4a;

  --button-color: #F25E7A;
  --button-color-hover: #f87890;

  --button-secondary-color: #F8A6B3;
  --button-secondary-color-hover: #F48B9E;

  --btn-error-background-color: white;
  --btn-error-background-color-hover: #e0e0e0;
  --btn-error-color: #4a4a4a;
  --btn-error-border: 1px solid #ced4da;

  --shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  --transition: box-shadow 0.3s ease;
  --border: 1px solid #e0e0e0;
  --background-color: #ffffff;
  --border-radius: 10px;
  --btn-between-margin: 10px;
  --btn-border-radius: 5px;

  /* Typography */
  --font-family: Arial, sans-serif;
  --font-size-base: 16px;

  /* Transitions */
  --transition-speed: 0.3s;
  --container-max-width: 600px;
  --small-spacing: 8px;
  --medium-spacing: 16px;
  --large-spacing: 24px;
  --extra-large-spacing: 32px;
}
