.react-datepicker-popper {
    display: block !important;
    max-width: 250px;
    height: fit-content;
}
.react-datepicker * {
    display: inline-block !important;
}

.react-datepicker button {
    display: flex !important;
}

.react-datepicker-time__input input {
    border: 1px solid #aeaeae;
    border-radius: 4px;
    box-shadow: inset 0 2px 2px #e9e9e9;
    font-size: 12x;
    line-height: 16px;
    padding: 6px 10px 5px;
}

.react-datepicker-wrapper, .react-datepicker__input-container {
    width: 100%;
}

.form-group .flex-row {
    width: 100%;
    align-items: center;
}

.form-group .flex-row input {
flex: 1;
}

/* 모바일 및 작은 화면용 스타일 */
@media (max-width: 768px) {
    .form-group .flex-row .button {
        margin-top: 8px;
        width: 100%;
    }
}

/* 웹 화면용 스타일 */
@media (min-width: 769px) {
    .form-group .flex-row {
        flex-direction: row;
    }

    .form-group .flex-row .button {
        margin-left: 8px;
    }
}