.delete-check-message {
  margin: 10px 0 20px;
  color: rgb(74, 74, 74);
  font-weight: bold;
}

.member-delete-button-box {
  display: flex;
  margin: 0 auto;
  gap: 10px;
}

.member-delete-confirm-button {
  flex: 0.48;
  height: 3vh;
  margin: 0 auto;
  color: white;
  background-color: rgb(242, 94, 122);
  border: 1px solid rgb(242, 94, 122);
  border-radius: 4px;
  box-sizing: border-box;
}

.member-delete-confirm-button:hover {
  background-color: rgb(248, 120, 144);
  outline: none;
}

.member-delete-cancel-button {
  flex: 0.48;
  height: 3vh;
  margin: 0 auto;
  color: rgb(74, 74, 74);
  background: none;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
}

.member-delete-cancel-button:hover {
  color: white;
  background-color: rgb(242, 94, 122);
  outline: none;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .delete-check-message {
    font-size: 16px;
  }

  .member-delete-confirm-button {
    flex: 0.48;
    height: 4vh;
    margin: 0 auto;
    color: white;
    background-color: rgb(242, 94, 122);
    border: 1px solid rgb(242, 94, 122);
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .member-delete-confirm-button:hover {
    background-color: rgb(248, 120, 144);
    outline: none;
  }
  
  .member-delete-cancel-button {
    flex: 0.48;
    height: 4vh;
    margin: 0 auto;
    color: rgb(74, 74, 74);
    background: none;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px;
  }
  
  .member-delete-cancel-button:hover {
    color: white;
    background-color: rgb(242, 94, 122);
    outline: none;
    box-sizing: border-box;
  }
}
