*{
    margin: 0;
    padding: 0;
}

.edit-profile-container {
    width: 300px;
    margin: 0 auto;
}

.profile-basic-info > ul {
    width: 100%;
    margin: 0 auto;
    list-style: none;
    text-align: left;
}

.profile-basic-info > ul > li {
    width: 95.5%;
    height: 50px;
    margin-top: 1vh;
    padding-left: 1.5vh;
    font-weight: bold;
    align-content: center;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 4px;
    background-color: white;
}

.profile-basic-info > ul > li > span {
    margin-left: 2vh;
    font-weight: normal;
    color: rgb(128, 128, 128);
}

.edit-nickname-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.edit-nickname-box > input {
    width: 65%;
}

.edit-nickname-box > .check-button {
    position: relative;
    top: 1px;
    width: 35%;
    height: 44px;
    padding: 0;
    background-color: white;
    border: 1px solid rgb(2, 136, 255);
    border-radius: 4px;
}

.edit-nickname-box > .check-button:active {
    color: white;
    background-color: rgb(2, 136, 255);
}

.edit-profile-button-box {
    display: flex;
    width: 100%;
}

.edit-profile-button-box > .mypage-edit-button {
    width: 50%;
    background-color: rgb(2, 136, 255);
}

.mypage-delete-button {
    width: 50%;
    color: white;
    background: rgb(255, 0, 0);
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
}