.drag-container {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  border: 2px dashed var(--main-color);
  border-radius: 12px;
  padding: 30px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  background-color: #fafafa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* padding 포함 */
}

.drag-container.drag-active {
  border-color: var(--main-color-hover);
  background-color: #f199a9;
}

.drag-container:hover {
  background-color: #f199a9;
}

.file-select-container {
  margin-top: 20px;
}

.file-select-container .file-select-description {
  font-size: 14px;
  color: var(--main-color);
  margin-bottom: 10px;
}

.file-select-container .file-select-label {
  display: inline-block;
  padding: 12px 24px;
  background-color: var(--main-color);
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
}

.file-select-label:hover {
  background-color: var(--main-color-hover);
}

.file-selected-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
}

.file-selected-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
  color: var(--main-color);
  text-align: center;
  word-break: break-word; /* 파일명이 너무 길 경우 줄바꿈 처리 */
}

.file-selected-container .button,
.file-selected-container .button-error {
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 8px;
  font-size: 16px; /* 버튼 글자 크기 */
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.before-file-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.before-file-description {
  font-size: 14px;
  color: #757575;
  margin-bottom: 5px;
}

.before-file-name a {
  color: #ff9800;
  font-weight: bold;
  text-decoration: none;
}

.before-file-name a:hover {
  text-decoration: underline;
}

.input-none {
  display: none;
}
