.description {
  margin-bottom: 15px;
  border: 2px solid var(--border-color);
  min-height: 300px;
  padding-top: 10px;
}

.apply-button {
  background: var(--button-color);
  color: #fff;
  border: none;
  border-radius: var(--border-radius);
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color var(--transition-speed);
  width: 50%;
}

.apply-button:hover {
  background: var(--button-color-hover);
}

.apply-button:active {
  background: #026080; /* Slightly darker shade */
}
