.header {
  display: flex;
  width: 100%;
  background-color: var(--background-color-light);
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.header-mypage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
}

.header-mypage img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.header-login {
  align-items: center;
  width: 100px;
  height: 50px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: #ffffff; /* 연한 파란색 (불투명도 30%) */
  color: rgb(7, 7, 7); /* 글자색은 선명한 파란색 */
  border: var(--border);
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s, border-color 0.5s;
}

.admin-page-btn {
  width: 80px;
  height: 50px;
  background-color: var(--background-color);
  border: var(--border);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-page-btn {
  color: var(--main-color);
}

.header-login:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #f25e7a;
}

.nav-buttons {
  display: flex;
}

.nav-btn {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: var(--btn-border-radius);
  transition: background-color 0.5s, border-color 0.5s;
}

.nav-btn:hover {
  background-color: #f5f5f5;
  color: var(--main-color);
}

.nav-btn:active {
  background-color: #eaeaea;
}
.my-page-btn {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}
@media (max-width: 768px) {
  .nav-btn {
    padding: 4px 5px;
  }
}
