.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  background-color: #f8f8f8;
  margin-bottom: 0;
}

.back-button {
  font-size: 20px;
  background: rgb(2, 136, 180);
  border: none;
  cursor: pointer;
}

.logo {
  height: 40px;
}

/* 반응형 처리 */
/* 모바일 (최대 600px) */
@media (max-width: 600px) {
  .header {
    padding: 10px;
  }

  .back-button {
    font-size: 16px;
  }

  .logo {
    height: 30px;
  }
}

/* 데스크탑 (1024px 이상) */
@media (min-width: 1024px) {
  .header {
    padding: 20px;
  }

  .logo {
    height: 50px;
  }
}
