.header {
  display: flex;
  width: 100%;
  /* background-color: rgb(253, 253, 253); */
  background-color: var(--background-color-light);
  justify-content: space-between;
  align-items: center;
}

.header-mypage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
}

.header-mypage img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.header-login {
  align-items: center;
  width: 100px;
  height: 50px;
  margin-right: 20px;
  margin-left:20px;
  background-color: #ffffff; /* 연한 파란색 (불투명도 30%) */
  color: rgb(7, 7, 7); /* 글자색은 선명한 파란색 */
  border: var(--border);
  border-radius: 15px; /* 둥근 모서리 */
  padding: 10px 20px; /* 버튼 안쪽 여백 */
  font-size: 14px; /* 글자 크기 */
  font-weight: bold; /* 글자 두껍게 */
  cursor: pointer; /* 마우스를 올리면 클릭할 수 있음을 시각적으로 표시 */
  transition: background-color 0.5s, border-color 0.5s;
}

.admin-page-btn {
  width: 130px;
  height: 50px;
  background-color: var(--background-color); /* 연한 파란색 (불투명도 30%) */
  border: var(--border);
  border-radius: var(--border-radius);
}

.header-login:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid  #F25E7A;
}
