* {
  margin: 0;
  padding: 0;
  color: rgb(74, 74, 74);
}

.login-container > main {
  width: 300px;
  margin: 0 auto;
}

.form-group > .login-input {
  margin-top: 2vh;
}

form > .form-group > .error-message {
  width: 100%;
  height: 3vh;
  margin-top: 1vh;
  padding: 0 0 1.5vh 0;
  background: none;
  align-content: center;
}

.login-confirm-error-message {
  margin-top: 1vh;
}

main > form > .login-button {
  width: 100%;
  margin-top: 3vh;
  background-color: rgb(2, 136, 255);
}

footer {
  margin-top: 5vh;
}

footer > p > span {
  color: rgb(2, 136, 255);
  font-weight: bold;
}
