/* MembersTab.css */

.members {
  padding: 20px;
  background-color: var(--background-color-light);
  border-radius: 10px;
  box-shadow: var(--shadow);
  margin-top: 20px;
}

.member-list ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.board-item,
.member-item {
  display: flex;
  justify-content: space-around;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  align-items: center;
  text-align: center;

  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.board-item div {
  flex: 1;
  text-align: center;
}

.pagination {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
