* {
  margin: 0;
  padding: 0;
  color: rgb(74, 74, 74);
}

@media (max-width: 768px) {
  .mypage-container {
    width: 100%;
    margin: 0 auto;
  }
}

/* ------------------------------------------------------------- */

@media (min-width: 768px) {
  .mypage-container {
    width: 740px;
    margin: 0 auto;
  }
}
