.nickname-edit-modal-container > h2,
.password-edit-modal-container > h2 {
  margin-bottom: 20px;
}

.profileEditModal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.profileEditModal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.profileEditModal-buttonBox {
  margin: 30px 0;
}

.profileEditModal-button {
  width: 43%;
  margin: 20px 2% 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profileEditModal-button:hover {
  background-color: #0056b3;
}

.profileEditModal-close-button,
.modal-back-button {
  width: 35px;
  height: 35px;
  margin: 0 85% 15px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.nickname-edit-box,
.password-edit-box {
  width: 70%;
  margin: 0 auto;
}

.nickname-edit-box > input[type="text"],
.password-edit-box > input[type="password"],
.modal-current-nickname {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

.nickname-edit-box > input[type="text"] {
  width: 65%;
}

.nickname-edit-box > input[type="text"]:focus,
.password-edit-box > input[type="password"]:focus {
  height: 40px;
  margin: 0 auto;
  padding: 5px;
  outline: 1px solid #007bff;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

.modal-current-nickname {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  padding: 10px 0px 10px 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  text-align: left;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.nickname-edit-box > label,
.password-edit-box > label {
  display: block;
  text-align: left;
  color: #007bff;
}

.modal-nickname-check-button {
  height: 40px;
  border: none;
  color: white;
  border-radius: 4px;
  background-color: #007bff;
  margin-left: 3%;
  padding: 4px;
  box-sizing: border-box;
}

.modal-nickname-check-button:hover {
  height: 41px;
  outline: none;
  border-radius: 4px;
  background-color: #0056b3;
  box-sizing: border-box;
  cursor: pointer;
}

.modal-edit-profile-modify {
  width: 70%;
  height: 35px;
  background: none;
  border: 1px solid #007bff;
  border-radius: 4px;
  color: #007bff;
  font-weight: bold;
  margin-top: 20px;
}

.modal-edit-profile-modify:hover {
  width: 70%;
  height: 35px;
  background: #007bff;
  color: white;
  outline: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.password-edit-box > input:nth-child(2) {
  margin-bottom: 20px;
}