*{
    margin: 0;
    padding: 0;
}

.signup-container {
    width: 768px;
    height: 100vh;
    margin: 0 auto;
}

.signup-container > main {
    width: 50%;
    margin: 0 auto;
  }
  
  .signup-container > main > h2 {
      margin: 3vh auto;
  }
  
  .form-group > .signup-label {
    position: absolute;
    margin: 1vh 1.4vh;
    padding: 0 0.5vh;
    color: rgb(0, 123, 255);
    background-color: white;
  }
  
  .form-group > .signup-input {
    width: 100%;
    height: 7vh;
    margin: 2vh auto;
  }

  .form-group > .signup-check-button {
    position: absolute;
    width: 10vh;
    height: 5vh;
    margin: 3vh 31vh;
    background: none;
    border: 1px solid rgb(2, 136, 180);
    border-radius: 4px;
  }

  .form-group > .signup-check-button:active {
    position: absolute;
    width: 10vh;
    height: 5vh;
    margin: 3vh 31vh;
    color: white;
    background: rgb(2, 136, 280);
    border: 1px solid rgb(2, 136, 180);
    border-radius: 4px;
  }

  .signup-button {
    width: 100%;
    margin:2vh auto;
  }