*{
    margin: 0;
    padding: 0;
}

.written-answer-container {
    width: 1400px;
    height: 100vh;
    margin: 5vh auto 15vh;
    text-align: center;
}

.mypage-written-answer-nav {
    width: 80vh;
    margin: 9vh auto;
}

.mypage-written-answer-nav > li {
    display: inline-flex;
    justify-content: center;
    width: 20%;
    height: 5vh;
    padding: 0.5vh 1vh;
    font-size: large;
    font-weight: bold;
    border: 1px solid rgb(2, 136, 180);
    border-radius: 9px 6px 0 0;
    border-bottom-style: none;
    list-style: none;
    text-align: center;
    align-items: center;
}

.mypage-written-answer-nav > li:nth-child(4) {
    background-color: rgb(2, 136, 180);
    color: white;
}

.answer-card,
.no-answer-message {
    width: 55vh;
    height: 8vh;
    padding: 1vh;
    margin: 3vh auto;
    border: 1px solid rgb(2, 136, 180);
    border-radius: 6px;
    font-size: 16px;
    justify-content: center;
}

.answer-study-title {
    position: absolute;
    margin: -2.5vh 0vh;
    color: rgb(2, 136, 180);
    background-color: white;
}

.answer-question-title {
    font-size: 1.3em;
    font-weight: bold;
    text-align: left;
    margin-left: 1.5vh;
    margin-top: 0.5vh;
}

.mypage-answer-content {
    text-align: left;
    margin-top: 0.95vh;
    margin-left: 1.5vh;
}

.mypage-answer-button-box {
    width: 10vh;
    display: flex;
    flex-direction: column; /* 세로 방향으로 정렬 */
    position: absolute;
    justify-content: center;
    margin: -7.65vh 45.8vh;
}

.mypage-answer-edit {
    padding: 1vh 3vh;
    background-color: rgba(2, 136, 180, 1);
    margin-bottom: 1vh; /* 버튼 간격 조정 */
}

.mypage-answer-edit:hover {
    padding: 1vh 3vh;
    background-color: rgba(2, 136, 180, 0.7);
}

.mypage-answer-delete {
    padding: 1vh 3vh;
    background-color: rgba(220, 90, 90, 1);
    margin-bottom: 1vh; /* 버튼 간격 조정 */
}

.mypage-answer-delete:hover {
    padding: 1vh 3vh;
    background-color: rgba(220, 90, 90, 0.7);
}