* {
  margin: 0;
  padding: 0;
  color: rgb(74, 74, 74);
}

@media (max-width: 768px) {
  .written-question-container {
    width: 100%;
    margin: 0 auto;
    font-size: 0.7em;
  }

  .mypage-question-nav {
    display: flex;
    list-style: none;
  }

  .mypage-question-nav > li {
    width: 25%;
    margin: 20px auto 30px;
    padding: 10px;
    border-bottom: 4px solid rgb(0, 0, 0);
    cursor: pointer;
  }

  .mypage-question-nav > li:nth-child(3) {
    color: rgb(242, 94, 122);
    border-bottom: 4px solid rgb(242, 94, 122);
  }

  .question-page-name {
    display: none;
  }

  .question-card {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto 30px;
    text-align: left;
    border-bottom: 1px solid rgb(74, 74, 74);
    cursor: pointer;
  }

  .study-question-title:hover .question-study-title,
  .study-question-title:hover .question-question-title {
    color: rgb(242, 94, 122);
  }

  .question-study-title {
    margin: 5px 0;
  }

  .question-question-title {
    font-size: 17px;
  }

  .question-delete-button {
    width: 60px;
    height: 30px;
    margin-top: 5px;
    border: 1px solid rgb(74, 74, 74);
    border-radius: 4px;
    background: none;
  }

  .question-delete-button:hover {
    color: white;
    background-color: rgb(242, 94, 122);
    border: none;
  }

  .no-question-message {
    color: rgb(242, 94, 122);
    font-size: 1.5em;
    margin-top: 20px;
  }
}

/* ------------------------------------------------------------- */

@media (min-width: 768px) {
  .written-question-container {
    width: 100%;
    margin: 0 auto;
  }

  .mypage-question-nav {
    display: flex;
    list-style: none;
  }

  .mypage-question-nav > li {
    width: 25%;
    margin: 50px auto 0;
    padding: 10px;
    border-bottom: 4px solid rgb(0, 0, 0);
    cursor: pointer;
  }

  .mypage-question-nav > li:nth-child(3) {
    color: rgb(242, 94, 122);
    border-bottom: 4px solid rgb(242, 94, 122);
  }

  .question-page-name {
    width: 100%;
    margin: 30px auto 60px;
    padding: 40px 50px;
    color: white;
    text-align: left;
    background-color: rgb(74, 74, 74);
    box-sizing: border-box;
  }

  .question-card {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto 30px;
    text-align: left;
    border-bottom: 1px solid rgb(74, 74, 74);
    cursor: pointer;
  }

  .study-question-title:hover .question-study-title,
  .study-question-title:hover .question-question-title {
    color: rgb(242, 94, 122);
  }

  .question-study-title {
    margin: 5px 0;
  }

  .question-question-title {
    font-size: 24px;
  }

  .question-delete-button {
    width: 50px;
    height: 40px;
    margin-top: 5px;
    border: 1px solid rgb(74, 74, 74);
    border-radius: 4px;
    background: none;
  }

  .question-delete-button:hover {
    color: white;
    background-color: rgb(242, 94, 122);
    border: none;
  }

  .no-question-message {
    color: rgb(242, 94, 122);
  }
}
